@import '../../utils/style/colors.css';

.page_container {
   padding-left: 100px;
   padding-right: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

@media screen and (max-width: 1023px) {
   .page_container {
      padding-left: 20px;
      padding-right: 20px;
   }
}

.locations_container {
   width: calc(100% - 40px);
   margin-top: 45px;
   padding: 20px;
   background-color: var(--background-color);
   border-radius: 25px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
}

@media screen and (max-width: 1023px) {
   .locations_container {
      width: 100%;
      margin-top: 0px;
      padding: 0px;
      background-color: white;
   }
}

.empty_div {
   width: 28%;
   height: 340px;
   margin: 30px;
}

@media screen and (max-width: 1439px) {
   .empty_div {
      display: none;
   }
}