@import '../../utils/style/colors.css';

.collapse {
   width: 100%;
}

.collapse_container {
   margin-bottom: 30px;
}

@media screen and (max-width: 1023px) {
   .collapse_container {
      margin-bottom: 20px;
   }
}

.collapse_header {
   height: 50px;
   background-color: var(--primary-color);
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 5px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
}

@media screen and (max-width: 1023px) {
   .collapse_header {
      height: 30px;
      padding-left: 10px;
      padding-right: 0px;
   }
}

.collapse_title {
   margin: 0;
   font-weight: 400;
   color: white;
}

.collapse_title--full {
   font-size: 24px;
}

.collapse_title--half {
   font-size: 18px;
}

@media screen and (max-width: 1023px) {
   .collapse_title {
      font-size: 13px;
      font-weight: 500;
   }
}

.collapse_arrow {
   position: relative;
   width: 30px;
   height: 30px;
}

.collapse_arrow--closed::before, .collapse_arrow--closed::after {
   width: 3px;
   height: 18px;
   border-radius: 3px;
   background: white;
   content: " ";
   position: absolute;
   top: 6px;
   z-index: 1;
   transition: all 100ms ease-in-out;
}

.collapse_arrow--closed::before {
   left: 0px;
   transform: translate(-5px, 0) rotate(-45deg);
}

.collapse_arrow--closed::after {
   left: 6px;
   transform: translate(0, 0) rotate(45deg);
}

@media screen and (max-width: 1023px) {
   .collapse_arrow--closed::before, .collapse_arrow--closed::after {
      width: 2px;
      height: 12px;
      top: 9px;
   }

   .collapse_arrow--closed::before {
      left: 13px;
   }

   .collapse_arrow--closed::after {
      left: 15px;
   }
}

.collapse_arrow--open::before, .collapse_arrow--open::after {
   width: 3px;
   height: 18px;
   border-radius: 3px;
   background: white;
   content: " ";
   position: absolute;
   top: 6px;
   z-index: 1;
   transition: all 100ms ease-in-out;
}

.collapse_arrow--open::before {
   left: 0px;
   transform: translate(-5px, 0) rotate(45deg);
}

.collapse_arrow--open::after {
   left: 6px;
   transform: translate(0, 0) rotate(-45deg);
}

@media screen and (max-width: 1023px) {
   .collapse_arrow--open::before, .collapse_arrow--open::after {
      width: 2px;
      height: 12px;
      top: 9px;
   }

   .collapse_arrow--open::before {
      left: 13px;
   }

   .collapse_arrow--open::after {
      left: 15px;
   }
}

.collapse_description {
   background-color: var(--background-color);
   padding: 20px;
   border-radius: 5px;
   display: none;
   transform: translateY(-100%);
   transition: all 100ms ease-in-out;
}

@media screen and (max-width: 1023px) {
   .collapse_description {
      padding: 10px;
   }
}

.collapse_header--open ~ .collapse_description {
   display: block;
   transform: translateY(0);
}

.collapse_text {
   margin: 0;
   font-weight: 400;
   color: var(--primary-color);
}

.collapse_text--full {
   font-size: 24px;
}

.collapse_text--half {
   font-size: 18px;
}

@media screen and (max-width: 1023px) {
   .collapse_text {
      font-size: 12px;
   }
}

.collapse_list {
   list-style: none;
   padding-left: 0;
}