@import '../../utils/style/colors.css';

.header_container {
   height: 70px;
   margin-top: 40px;
   margin-bottom: 50px;
   padding-left: 100px;
   padding-right: 100px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

@media screen and (max-width: 1023px) {
   .header_container {
      height: 50px;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
   }
}

.header_logo {
   width: 200px;
}

@media screen and (max-width: 1023px) {
   .header_logo {
      width: 145px;
   }
}

.nav_container {
   height: 100px;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
}

@media screen and (max-width: 374px) {
   .nav_container {
      height: 60px;
      flex-wrap: wrap;
      justify-content: flex-end;
   }
}

.nav_link {
   margin-left: 70px;
   font-size: 24px;
   font-weight: 500;
   color: var(--primary-color);
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   text-decoration: none;
   text-transform: none;
}

@media screen and (max-width: 1023px) {
   .nav_link {
      margin-left:  20px;
      font-size: 12px;
      text-transform: uppercase;
   }
}

.nav_link.active {
   text-decoration: underline;
}